footer {
  padding: 50px;
  background-color: #1976d2;
  color: white;
  text-align: center;
}

.Friendly-address {
  display: flex;
  justify-content: center;
}

.Friendly-address li {
  margin: 0 10px;
}

.Friendly-address a {
  color:white;
  font-style: 18px;
}

.Friendly-address a:hover {
  text-decoration: underline;
}
