<header class="app-features">
  <section class="app-features-title">
    <div class="app-features-logo">
      <img src="https://www.cxymsg.com/logo.svg" alt="">
      <h1 class="app-features-t" data-trans="dura">Front-end interview and development documentation</h1>
    </div>
    <div class="app-features-homepage">
      <div class="hero-headline"></div>
      <a class="button hero-cta" data-trans="dura" [routerLink]="[ '/interview', 'Front-End/%E6%97%A0%E7%BC%9D%E9%9A%99%E8%BD%AE%E6%92%AD%E5%9B%BE.md']">Get Started</a>
    </div>
  </section>
  <p></p>
  <article>
    <!-- MAIN CONTENT start -->
    <div class="home-rows">
      <!-- Group 1 start -->
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="https://angular.io/generated/images/marketing/home/responsive-framework.svg" alt="responsive framework">
          </div>
        </div>
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">
              <a [routerLink]="['/features']" data-trans="dura">Aftersoil wiki</a>
            </div>
            <p class="text-body">
              Welcome to the Aftersoil wiki website. This is only a manual website for individual teams. It is not very comprehensive, please understand. Here we look forward to your question, we will maintain it together.</p>
          </div>
        </div>
      </div>
      <!-- Group 1 end -->
      <hr />      
      <!-- Group 2 start -->
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">
              <a data-trans="dura" [routerLink]="[ '/interview', 'Front-End/%E6%97%A0%E7%BC%9D%E9%9A%99%E8%BD%AE%E6%92%AD%E5%9B%BE.md']">Front-end written test questions</a>
            </div>
            <p class="text-body">
              Aftersoil wiki front-end written test questions, not very comprehensive front-end written test questions, will be continuously updated, the initial stage is not for all users, just for personal viewing.
            </p>
          </div>
        </div>
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2642005374,2759573555&fm=15&gp=0.jpg" alt="responsive framework">
          </div>
        </div>
      </div>
      <!-- Group 2 end -->
      <hr />      
      <!-- Group 3 start -->
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="./../../assets/image/daima-008.jpg" alt="responsive framework">
          </div>
        </div>
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">
              <a data-trans="dura" [routerLink]="[ '/docs', 'Ajax%2FAjax%E7%AE%80%E8%BF%B0.md']">Development documentation</a>
            </div>
            <p class="text-body">The front-end and back-end development documents, and the development documents of various languages ​​and new technologies are not very comprehensive by individuals.
            </p>
          </div>
        </div>
      </div>
      <!-- Group 3 end -->
      <hr />
      <!-- Group 4 start -->
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">
              <a data-trans="dura" [routerLink]="[ '/culture', '%E6%B1%89%E6%9C%8D%E5%8F%A4%E9%A3%8E%2F%E6%88%91%E7%9A%84%E6%B1%89%E6%9C%8D.md']">my interest</a>
            </div>
            <p class="text-body">All of them are my own hobbies, such as Hanfu culture, ancient Chinese language interpretation, push back pictures, etc., are my personal hobbies, those who are interested can read and give me feedback.
            </p>
          </div>
        </div>
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2776638639,2369140320&fm=26&gp=0.jpg" alt="responsive framework">
          </div>
        </div>
      </div>
      <!-- Group 4 end -->
      <hr />
    </div>
  </article>
  <!-- MAIN CONTENT end  -->
</header>

<!-- app-footer start -->
<app-footer></app-footer>
<!-- app-footer end -->
