/* <button mat-icon-button class="mat-icon-button-active"><mat-icon>menu</mat-icon></button> */
.mat-sidenav-active {
  margin-left: -260px;
}

.Edit {
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 14px;
}

.Edit a {
  width: 110px;
  line-height: 35px;
  text-align: center;
  background-color: var(--wiki-background-color);
  display: block;
  color: #fff;
  border-radius: 5px;
  transition:all 250ms;
}

.Edit a:hover {
  box-shadow: 6px 6px 12px #d2caca;
}

.absolute-N .absolute-Home {
  box-sizing: border-box;
  width: 50px;
  position: fixed;
  background-color: var(--wiki-background-color);
  bottom: 25px;
  right: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.absolute-N .absolute-Home > a{
  width: 100%;
  line-height: 50px;
  text-align: center;
  display: block;
  color: white;
  transition-duration: 250ms;
}

.absolute-N .absolute-C {
  position: fixed;
  background: var(--wiki-background-color);
  bottom: 74px;
  right: 25px;
  width: 50px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  opacity: 0;
  z-index: -1;
  transition-duration: 250ms;
}

.absolute-N .absolute-C .absolute-nav {
  display: flex;
  flex-direction: column;
}

.absolute-N .absolute-C .absolute-nav > a {
  color: white;
  font-size: 10px;
  line-height: 50px;
  transition-duration: 250ms;
}

.absolute-N .absolute-C .absolute-nav > a:hover,
.absolute-N .absolute-Home a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.absolute-active {
  opacity: 1 !important;
  z-index: 1 !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.5);
}

table {
  border-collapse: collapse;
}

table tr:nth-child(2n + 1) {
  background-color: #f6f8fa;
}

table td {
  border: 1px solid var(--wiki-background-color-black);
  padding: 7px;
}

video {
  width: 50%;
}
